@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

/* Varables CSS */
:root {
    --primary-color: hsl(160, 100%, 25%);
    --secondary-color: hsl(339, 77%, 59%);
    --body-color: #fff;

    /* font */
    --body-font: "Cute Font", sans-serif;
    --h1-font-size: 2rem;       /* 크롬 > 설정 > 글자 크기: 중간일 때, 1rem=16px */
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;

    /* font weight */
    --font-thin: 200;
    --font-regular: 400;
    --font-bold: 700;

    /* z-index */
    --z-index: 100;
}

/* nav */
body {
    font-family: var(--body-font);
    background-color: var(--body-color);
}

header {
    position: fixed;    /* 스크롤 해도 고정 */
    top: 0;
    right: 0;
    left: 0;
}
nav {
    height: 2.75rem;    /* 크롬 > 설정 > 글자 크기: 중간일 때, 44px */
    background-color: var(--primary-color);
}
.nav.container {
    display: flex;      /* 기본값: 수평방향 */
    justify-content: space-between;   /* 양쪽 정렬 */
    align-items: center;   /* 교차축 가운데 */
    padding: 0 40px;        /* 왼쪽, 오른쪽만 여백 */
    color: #fff;        /* 글자색 하얗게 */
    font-size: var(--h2-font-size);
}
.nav.container a {
    color: #fff;
}
.nav-logo {
    font-size: var(--h2-font-size);
}
.nav-list {
    display: flex;
    column-gap: 40px;       /* 열과 열 사이 간격 */ 
}
.nav-toggle {
    display: none;      /* 햄버거 메뉴 안 보이게 하자 */
    font-size: 28px;    /* 아이콘 조금 크게 하자 */
}

/* mobile */
@media screen and (max-width: 600px) {
    .nav.container {
        padding: 0 20px;    /* 왼쪽, 오른쪽만 여백 좀 줄이자 */
    }
    .nav-list {
        position: absolute; /* .nav-list 위치를 navbar 아래에 위치 */
        top: calc(44px - 141px);    /* 바로 나올 수 있도록 계산 */
        right: 0;
        left: 0;
        flex-direction: column; /* flex 방향 세로로 */
        /* align-items: center;    교차축으로 가운데 정렬(가로로 가운데) */
        /* row-gap: 20px; */
        background-color:  hsla(200, 100%, 25%, 0.6);   /* 배경색 다른 것으로 칠해보자 */
        overflow: hidden;   /* 크기보다 크면 안 보이게 하자 */
        /* height: 0; */
        transition: 0.4s ease-in-out;   /* 움직이자 */
        z-index: -10;                   /* 위로 겹치지 않게 하자 */
    }
    .nav-item {
        padding: 0.5rem 1rem;   /* 위 오 아 왼 */
        border-bottom: 1px solid white;     /* 메뉴의 아래에 선을 긋자(각 링크의 구분을 위해) */
        text-align: center; /* 글자 가운데로 하자 */
    }
    .nav-link {
        display: block;     /* 링크의 너비를 콘텐츠 -> 너비 100%로 늘리자 */
    }
    
    .nav-toggle {
        display: block;     /* 햄버거 메뉴 보이게 하자 */
        cursor: pointer;    /* 마우스 포인터: 손모양 */
    }
    .show-menu {
        /* height: 141px; */
        top: 44px;
    }
}