#school-market {  /* 매점 main */
    display: flex;
    flex-direction: column; /* .search-container, .product-container를 세로로 배치 */
    align-items: center;
    margin-top: calc(var(--nav-height) + 100px);    /* nav 아래 100px 아래 배치 */
}
.search-container {
    font-size: var(--h1-font-size);
    margin-bottom: 40px;
}

.product-container {
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;        /* 내려쓰기 */
    gap: 40px;               /* 열, 행 사이 간격 */
}

/* tablet */
/* @media screen and (max-width: 960px) { */
@media screen and (max-width: calc(200px * 3 + 80px * 2 + 100px * 2)) {
    #school-market {
        margin-top: calc(var(--nav-height) + 40px);     /* nav 아래 40px 아래 배치 */
    }
}
