main {
    margin-top: calc(var(--nav-height) + 100px);
    font-size: var(--h2-font-size);
}
h1 {
    text-align: center;
}

#dormitory {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
#dormitory #menu-container {
    width: 400px;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: var(--h2-font-size);
    display: flex;
    justify-content: center;
    column-gap: 40px;
    background-color: #A0D49C;
    border-radius: 40px;
}

.menu-item {
    padding: 5px 15px;
    border-radius: 40px;
}
.menu-item:hover,
.select-menu {
    background-color: white;
    cursor: pointer;
}

#calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 10px;
}
#calendar-container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid #ddd;
}
.item {
    display: grid;
    place-items: center;
}
#calendar .item:nth-child(7n+1) {
    color:crimson;
}
#calendar .item:nth-child(7n+7) {
    color: blue;
}
#calendar .week-name {
    color: #aaa;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
#calendar .other-month {
    color: #ddd !important;
}
#calendar .other-month:hover {
    background-color: #eee;
}